@font-face {
  font-family: "WorkSansLight";
  src: url(../fonts/Work_Sans/static/WorkSans-Light.ttf);
}
@font-face {
  font-family: "WorkSansMedium";
  src: url(../fonts/Work_Sans/static/WorkSans-Medium.ttf);
}
@font-face {
  font-family: "LarishNeue";
  src: url(../fonts/LarishNeueSemibold.woff);
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: default;
  background: #000;
  color: #fff;
}
header .line {
  height: 20vh;
  margin-bottom: 10vh;
  border: 2px solid grey;
}
header h1 {
  line-height: 0.8em;
}
header h1:last-of-type {
  color: #000;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #fff;
}
header span {
  font-size: 1em;
}
header span:first-of-type {
  margin-bottom: 3vh;
}
header span:last-of-type {
  margin-top: 3vh;
  margin-bottom: 20vh;
}
header div:last-of-type {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: default;
}
header div:last-of-type img {
  width: 5%;
}

#nearly {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  flex-wrap: default;
  background: #000;
  color: #fff;
  padding: 10% 10% 15% 10%;
}
#nearly h1:first-of-type {
  margin-bottom: 10%;
}
#nearly h1 {
  margin: 1% 0 3% 0;
}
#nearly article {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  flex-wrap: default;
  width: 100%;
}
#nearly article div:last-of-type img {
  position: absolute;
  width: 40%;
  margin-top: -8%;
  right: 0;
}

#middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: default;
  padding: 20% 0;
  height: 120vh;
}
#middle h2 {
  line-height: 1em;
}
#middle p {
  line-height: 2em;
}
#middle article:first-of-type {
  width: 35%;
}
#middle article:first-of-type img {
  position: absolute;
}
#middle article:first-of-type img:nth-of-type(1) {
  width: 25%;
  right: 7%;
  margin-top: -42%;
}
#middle article:first-of-type img:nth-of-type(2) {
  width: 17%;
  left: 5%;
  margin-top: -25%;
}
#middle article:first-of-type img:nth-of-type(3) {
  width: 17%;
  right: 0;
  margin-top: -5%;
}
#middle article:first-of-type img:nth-of-type(4) {
  width: 20%;
  left: 20%;
  margin-top: 5%;
}
#middle article:first-of-type img:nth-of-type(5) {
  width: 20%;
  right: 25%;
  margin-top: 15%;
}
#middle article:last-of-type {
  width: 35%;
}
#middle article:last-of-type img {
  position: absolute;
}
#middle article:last-of-type img:nth-of-type(1) {
  width: 17%;
  left: 0;
  margin-top: -10%;
}
#middle article:last-of-type img:nth-of-type(2) {
  width: 30%;
  right: 20%;
  margin-top: 5%;
}

#golden, .pos {
  padding: 15% 10%;
  background: #000;
  color: #fff;
}
#golden article:first-of-type, .pos article:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: default;
  margin-bottom: 10%;
}
#golden article:first-of-type div, .pos article:first-of-type div {
  width: 50%;
}
#golden article:first-of-type div:last-of-type h3, .pos article:first-of-type div:last-of-type h3 {
  margin-bottom: 5%;
}
#golden article:last-of-type, .pos article:last-of-type {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: default;
  margin-bottom: -40%;
}
#golden article:last-of-type img:nth-of-type(1), .pos article:last-of-type img:nth-of-type(1) {
  width: 70%;
  z-index: 999;
}
#golden article:last-of-type img:nth-of-type(2), .pos article:last-of-type img:nth-of-type(2) {
  position: absolute;
  z-index: 999;
  width: 30%;
  right: 10%;
}
#golden article:last-of-type img:nth-of-type(3), .pos article:last-of-type img:nth-of-type(3) {
  position: absolute;
  z-index: 998;
  margin-top: 19%;
  right: -10%;
  width: 30%;
  animation: circleMove 5s linear infinite;
}
@keyframes circleMove {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

#poppy {
  padding: 30% 10% 10% 10%;
  background: #fff;
  color: #000;
  position: relative;
  z-index: 99;
}
#poppy article:last-of-type {
  margin-bottom: 0;
  flex-direction: row-reverse;
}
#poppy img:last-of-type {
  left: 10%;
}

#join {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: default;
  background: #000;
  color: #fff;
}
#join article:first-of-type {
  padding: 10% 10%;
  width: 35%;
}
#join article:first-of-type h3 {
  margin: 5% 0;
}
#join article:last-of-type {
  position: absolute;
  background: #fff;
  right: -15%;
  margin-top: -20%;
  transform: rotate(40deg);
}
#join article:last-of-type h1 {
  color: #000;
  font-size: 6em;
  animation: textMove 3s linear infinite;
  transition-delay: 0s;
}
#join article:last-of-type span {
  font-family: "LarishNeue";
  color: #fff;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #000;
}
@keyframes textMove {
  0%, 100% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(10vw);
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: default;
  background: #000;
  color: #fff;
  padding: 0 10% 2% 10%;
}
footer article:first-of-type li {
  margin-bottom: 10%;
}
footer article:first-of-type li a {
  margin-right: 5%;
}
footer article:first-of-type li a img {
  width: 15%;
}
footer article:last-of-type img {
  width: 30%;
  float: right;
}

@media only screen and (max-width: 1200px) {
  header {
    height: 100vh;
    justify-content: start;
  }

  header span:last-of-type {
    margin-bottom: 35vh;
  }

  #nearly h1:first-of-type {
    font-size: 4em;
  }

  #nearly article div:last-of-type img {
    width: 50%;
  }

  #middle {
    height: 60vh;
  }
  #middle h2 {
    font-size: 4em;
  }
  #middle article:first-of-type img:nth-of-type(1) {
    margin-top: -50%;
  }

  #join article:last-of-type h1 {
    display: none;
  }
  #join article:first-of-type {
    width: 100%;
  }
  #join article:first-of-type h3 {
    margin: 10% 0;
  }

  #golden .circle {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 6em;
  }
  header span:last-of-type {
    margin-bottom: 30vh;
    font-size: 0.9em;
  }

  #nearly h1:first-of-type {
    font-size: 3em;
  }

  #middle {
    height: 75vh;
  }
  #middle h2 {
    font-size: 3em;
    margin-bottom: 5%;
  }
  #middle p {
    font-size: 0.9em;
  }
  #middle article:first-of-type img:nth-of-type(1) {
    margin-top: -60%;
  }

  .pos h2 {
    font-size: 4em;
  }
  .pos h3 {
    font-size: 1em;
  }
  .pos p {
    font-size: 0.8em;
  }

  #join article:first-of-type {
    width: 100%;
  }
  #join article:first-of-type h3 {
    font-size: 1.5em;
    margin: 10% 0;
  }
}
@media screen and (max-width: 576px) {
  header h1 {
    font-size: 3em;
  }
  header span:first-of-type {
    font-size: 0.8em;
  }
  header span:last-of-type {
    margin-bottom: 35vh;
    font-size: 0.8em;
    width: 50%;
    text-align: center;
  }
  header div:last-of-type img {
    width: 25%;
  }

  #nearly {
    background: url(../img/map.svg) center no-repeat;
    background-color: #000;
  }
  #nearly h1:first-of-type {
    font-size: 2em;
  }
  #nearly article div h1 {
    font-size: 4em;
  }
  #nearly article div:last-of-type img {
    display: none;
  }

  #middle {
    height: 100vh;
    padding: 10% 20%;
  }
  #middle h2 {
    font-size: 2em;
    margin-bottom: 5%;
  }
  #middle p {
    font-size: 0.8em;
  }
  #middle article:first-of-type {
    width: 100%;
  }
  #middle article:first-of-type img:nth-of-type(1) {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 5% 0;
    right: 0;
  }
  #middle article:first-of-type img:nth-of-type(4) {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 5% 0;
    right: 0;
    left: 0;
  }
  #middle article:first-of-type img {
    display: none;
  }
  #middle article:last-of-type {
    width: 100%;
  }
  #middle article:last-of-type img {
    display: none;
  }

  .pos h2 {
    font-size: 2em;
  }
  .pos h3 {
    font-size: 0.8em;
  }
  .pos p {
    font-size: 0.7em;
  }

  #join article:first-of-type {
    width: 100%;
  }
  #join article:first-of-type h3 {
    font-size: 1.2em;
    margin: 10% 0;
  }

  footer article:first-of-type ul li p {
    font-size: 0.7em;
  }
  footer article:first-of-type ul li p img {
    width: 15%;
  }
  footer article:last-of-type {
    width: 70%;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  font-size: 7em;
  font-family: "LarishNeue";
}

h2 {
  margin: 0;
  font-size: 6em;
  font-family: "LarishNeue";
}

h3 {
  margin: 0;
  font-size: 2em;
  font-family: "LarishNeue";
}

span {
  margin: 0;
  font-size: 1em;
  font-family: "WorkSansLight";
}

p {
  margin: 0;
  font-size: 1em;
  font-family: "WorkSansMedium";
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.button {
  border: 2px solid #fff;
  background: #000;
  color: #fff;
  padding: 1.5em 2.5em;
  font-size: 1em;
  cursor: pointer;
}

.button:hover {
  border: 2px solid #fff;
  background: #fff;
  color: #000;
  padding: 1.5em 2.5em;
  font-size: 1em;
  cursor: pointer;
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
